In [43]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB
from sklearn.cross_validation import train_test_split

In [44]:
data = pd.read_csv("spambase.data",header=None)
#Read in our data

In [45]:
data.head()
#A peek at our data, getting the column number for the next step.

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191,1

In [46]:
spam = data[data[57] == 1]
ham = data[data[57] == 0]
#Sort our data into spam and ham to ensure equal ratios of ham to spam
#In our test data vs. our training data.

In [47]:
spam_train, spam_test = train_test_split(spam, random_state=1, train_size=.6)
#Pull out training and tests for spam

In [48]:
ham_train, ham_test = train_test_split(ham, random_state=1, train_size=.6)
#Do the same for ham

In [49]:
print(len(ham_train))
print(len(ham_test))
print(len(spam_train))
print(len(spam_test))
#Eyeball check on the ratios

1672
1116
1087
726

In [50]:
training = ham_train.append(spam_train)
test = ham_test.append(spam_test)
#Recombine our split data into a single df per function.

In [51]:
training.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
3780,0,0.27,0.00,0,0,0,0,0,0,0.00,...,0.128,0.000,0,0.000,0.000,0.000,1.197,6,109,0
2326,0,0.00,0.00,0,0,0,0,0,0,0.00,...,0.000,0.191,0,0.000,0.095,0.095,1.688,11,103,0
1880,0,0.00,0.00,0,0,0,0,0,0,0.00,...,0.000,0.218,0,0.218,0.000,0.000,1.687,10,27,0
2350,0,0.00,1.31,0,0,0,0,0,0,0.00,...,0.000,0.242,0,0.000,0.000,0.000,1.266,3,19,0
4335,0,0.00,0.00,0,0,0,0,0,0,1.25,...,0.000,0.000,0,0.000,0.204,0.000,2.450,15,49,0

In [52]:
training.tail()
#Taking a peek at our recombined data to ensure that it has both ham and spam.

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
905,0.0,0.0,0.76,0,0.76,0.00,0.50,0.5,0.0,1.01,...,0.000,0.078,0.00,0.433,0.433,0.000,2.441,19,249,1
1791,0.1,0.2,1.01,0,0.80,0.80,0.50,0.0,0.8,0.10,...,0.000,0.110,0.00,0.488,0.157,0.015,8.550,669,1351,1
1096,0.0,0.0,0.00,0,0.45,0.45,0.45,0.0,0.0,0.00,...,0.000,0.000,0.00,0.072,0.000,1.083,7.857,45,440,1
235,0.0,0.0,0.00,0,0.00,0.00,0.00,0.0,0.0,0.00,...,0.000,0.000,0.00,0.000,0.000,0.000,1.103,3,32,1
1061,0.0,0.0,0.00,0,0.00,0.40,0.00,0.0,0.0,0.81,...,0.198,0.529,0.33,0.198,0.000,0.000,5.019,18,261,1

In [53]:
y_train = training.pop(57)
#Pulling out the ham or spam column for use as the dependant variable.

In [54]:
model = MultinomialNB()
#Making our class instance

In [55]:
model.fit(training,y_train)
#fitting our model with the training data.

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [56]:
model.score(training,y_train)
#.78 isn't great, but is not a bad result given the data.

0.78542950344327656

In [57]:
y_test = test.pop(57)

In [58]:
model.score(test,y_test)
#.77 for the test data suggests our model isn't overfitted as it works for our test as well!

0.77687296416938112

In [75]:
if model.predict(test.iloc[46])[0] == 0:
    print('HAM!')
else:
    print('SPAM!')
#Looks at a prediction based on our model

HAM!

In [76]:
if y_test.iloc[46] == 0:
    print('HAM!')
else:
    print('SPAM!')
#Finds the actual HAM or SPAM value for our prediction.

HAM!

In [102]:
def test_prediction(row):
    try:
        test.iloc[row]
    except:
        return print('Not in the data.')
    if model.predict(test.iloc[row])[0] == y_test.iloc[row]:
        print('Hit!')
    else:
        print('Miss!')
#Built a quick function to combine the above two tasks 
#and let us know if our prediction is good.

In [107]:
[test_prediction(x) for x in range(20)]
test_prediction(5000)

Hit!
Hit!
Miss!
Hit!
Hit!
Hit!
Hit!
Hit!
Hit!
Hit!
Hit!
Miss!
Hit!
Hit!
Hit!
Miss!
Hit!
Hit!
Hit!
Miss!
Not in the data.

## Results

* Our spam filter isn't perfect, it's actually roughly 80% accurate, but this is the case for both our test data and our trial data so it doesn't appear to be overfitted.

* We can see the lack of accuracy in the function call above, it's fairly good but still misses pretty often.