In [16]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB
from sklearn.cross_validation import train_test_split

In [6]:
data = pd.read_csv("spambase.data",header=None)

In [7]:
unsolved = data.drop(57,axis=1)

In [13]:
spam = data[data[57] == 1]
ham = data[data[57] == 0]

In [14]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191,1

In [26]:
spam_train, spam_test = train_test_split(spam, random_state=1, train_size=.6)

In [27]:
ham_train, ham_test = train_test_split(ham, random_state=1, train_size=.6)

In [28]:
print(len(ham_train))
print(len(ham_test))
print(len(spam_train))
print(len(spam_test))

1672
1116
1087
726

In [38]:
training = ham_train.append(spam_train)
test = ham_test.append(spam_test)

In [39]:
training.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
3780,0,0.27,0.00,0,0,0,0,0,0,0.00,...,0.128,0.000,0,0.000,0.000,0.000,1.197,6,109,0
2326,0,0.00,0.00,0,0,0,0,0,0,0.00,...,0.000,0.191,0,0.000,0.095,0.095,1.688,11,103,0
1880,0,0.00,0.00,0,0,0,0,0,0,0.00,...,0.000,0.218,0,0.218,0.000,0.000,1.687,10,27,0
2350,0,0.00,1.31,0,0,0,0,0,0,0.00,...,0.000,0.242,0,0.000,0.000,0.000,1.266,3,19,0
4335,0,0.00,0.00,0,0,0,0,0,0,1.25,...,0.000,0.000,0,0.000,0.204,0.000,2.450,15,49,0

In [40]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
3520,0,0,0.00,0,0,0,0,0,0,0.00,...,0.000,0.000,0,0,0,0,1.272,4,14,0
3623,0,0,0.00,0,0,0,0,0,0,0.00,...,0.000,0.000,0,0,0,0,1.000,1,5,0
2715,0,0,0.27,0,0,0,0,0,0,0.83,...,0.082,0.164,0,0,0,0,2.235,51,199,0
1841,0,0,0.00,0,0,0,0,0,0,0.00,...,0.000,0.000,0,0,0,0,2.322,11,72,0
1863,0,0,1.02,0,0,0,0,0,0,0.00,...,0.000,0.167,0,0,0,0,2.195,17,90,0

In [41]:
y_train = training.pop(57)

In [43]:
print(training.head())
print(y_train.head())

      0     1     2   3   4   5   6   7   8     9  ...   47     48     49  50  \
3780   0  0.27  0.00   0   0   0   0   0   0  0.00 ...    0  0.128  0.000   0
2326   0  0.00  0.00   0   0   0   0   0   0  0.00 ...    0  0.000  0.191   0
1880   0  0.00  0.00   0   0   0   0   0   0  0.00 ...    0  0.000  0.218   0
2350   0  0.00  1.31   0   0   0   0   0   0  0.00 ...    0  0.000  0.242   0
4335   0  0.00  0.00   0   0   0   0   0   0  1.25 ...    0  0.000  0.000   0

         51     52     53     54  55   56
3780  0.000  0.000  0.000  1.197   6  109
2326  0.000  0.095  0.095  1.688  11  103
1880  0.218  0.000  0.000  1.687  10   27
2350  0.000  0.000  0.000  1.266   3   19
4335  0.000  0.204  0.000  2.450  15   49

[5 rows x 57 columns]
3780    0
2326    0
1880    0
2350    0
4335    0
Name: 57, dtype: int64

In [45]:
model = MultinomialNB()

In [46]:
model.fit(training,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [47]:
model.score(training,y_train)

0.78542950344327656

In [48]:
y_test = test.pop(57)

In [49]:
model.score(test,y_test)

0.77687296416938112